# Ignore environment variables file
.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite database
*.db

# Virtual environment
venv/
.env/  # if you named your venv '.env', different from API keys file
